<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="membershipDB" connectionString="c:\membership.db"/>
	</connectionStrings>
	<system.web>
		<customErrors defaultRedirect="" mode="Off"/>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Db4objects.Db4o, Version=8.0, Culture=neutral"/>
				<add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies>
		</compilation>
		<authorization>
			<allow users="*"/>
		</authorization>
		<authentication mode="Forms">
			<forms name=".ASPXAUTH" loginUrl="~/Login.aspx" defaultUrl="~/Login.aspx" protection="Validation" timeout="999999"/>
		</authentication>
		<machineKey decryption="DES" decryptionKey="65a31e547b659a6e" validation="SHA1" validationKey="65a31e547b659a6e351f2d3c029d3a1c433b89141c1b"/>
		<membership defaultProvider="db4oMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="db4oMembershipProvider" type="WCSoft.db4oProviders.db4oMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="MYAPP" connectionStringName="db4oProvidersDB" requiresUniqueEmail="true" passwordFormat="Hashed" description="Stores and retrieves membership data from db4o"/>
			</providers>
		</membership>
		<roleManager defaultProvider="db4oRoleProvider" enabled="true" cacheRolesInCookie="true" cookieName=".ASPROLES" cookieTimeout="30" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All">
			<providers>
				<clear/>
				<add name="db4oRoleProvider" type="WCSoft.db4oProviders.db4oRoleProvider" connectionStringName="db4oProvidersDB" applicationName="MYAPP" description="Stores and retrieves role data from DB4O"/>
			</providers>
		</roleManager>
		<trust level="Full"/>
		
</configuration>
