<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MaxRooms" value="30" />
    <add key="PackageOnServer" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="WaitingTime" value="15" />
    <add key="SerializeFinalGame" value="1" />
    <add key="SerializedGamesPath" value="F:\TopMachine\TopMachine.Web.GameViewer\GamesXML"/>
  </appSettings>
  <connectionStrings>
    <add name="TopMachineDBSql" connectionString="Server=tcp:oudhg2o5qd.database.windows.net,1433;Database=TopMachineDB;User ID=tournamentDB@oudhg2o5qd;Password=P2ssw0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="TopMachineDBEntities" connectionString="metadata=res://*/TopMachineSql.csdl|res://*/TopMachineSql.ssdl|res://*/TopMachineSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=oudhg2o5qd.database.windows.net;initial catalog=TopMachineDB;user id=tournamentDB@oudhg2o5qd;password=P2ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <compilation debug="true" targetFramework="4.0" />
    <membership defaultProvider="DefaultSqlMembershipProvider" >
      <providers>
        <add name="DefaultSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="TopMachineDBSql"
             applicationName="TopMachine"
             enablePasswordRetrieval="false"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             passwordFormat="Hashed"
             minRequiredPasswordLength="5" 
             minRequiredNonalphanumericCharacters="0" 
          />
      </providers>
    </membership>

    <roleManager enabled ="true"
               defaultProvider ="DefaultSqlRoleProvider" >
      <providers>
        <add name ="DefaultSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             connectionStringName="TopMachineDBSql"
             applicationName="TopMachine"
             
            />
             
      </providers>
    </roleManager>
  </system.web>

  <system.serviceModel>
    <serviceHostingEnvironment  aspNetCompatibilityEnabled="false"    multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
    <services>
      <service name="TopMachine.Services.WCF.SQL.Topping" behaviorConfiguration="DefaultBehavior">
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0" contract="Topping.Core.Logic.IProxy">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding/>
          <httpTransport  allowCookies="true">
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DefaultBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior>
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
   
  </system.webServer>
  
</configuration>
